.color-fintra {
    color: #4bbbed;
}

.titulo {
    font-weight: bold;
}
.subtitulo {
    font-weight: 500;
    color: #d5d5d5;
}
.fondo-fintra {
    background-color: #4bbbed;
    border-color: #4bbbed;
}
